@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

*::after,
*::before,
*:focus * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: -webkit-focus-ring-color auto 0px;
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

html,
body {
  font-family: "TT Norms Pro";
  font-size: 16px;
  font-style: normal;
  color: #000000;
  height: 100%;
}

header {
  margin-bottom: 45px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}
header .header-light {
  background-color: #fdfdfd;
}
header .navbar-light .navbar-nav .nav-item.dropdown a {
  position: relative;
  z-index: 2;
}
header .navbar-light .navbar-nav .nav-item .nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding: 0 22px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #00ac4e;
}
header .navbar-brand {
  margin-right: 38px;
}
header .nav-item.dropdown.show > a.nav-link {
  color: #00ac4e;
}
header nav {
  width: 100%;
  height: 100px;
}
header .dropdown-menu {
  border: none;
  padding: 56px 0 0;
  position: relative;
  top: -17px;
  margin: 0;
  z-index: 1;
}
header .dropdown-menu img {
  margin-right: 7px;
}
header .dropdown-menu .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10.66px;
  line-height: 13px;
  color: #333333;
  padding: 9px 20px 9px 26px;
}
header .dropdown-menu.show {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
header .dropdown-toggle::after {
  display: none;
}
header .menu-right .menu-contact {
  margin-right: 35px;
}
header .menu-right .menu-contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}
header .menu-right .menu-contact a img {
  margin-right: 5px;
}
header .menu-right .menu-user a,
header .menu-right .menu-user button {
  margin-left: 30px;
}
header .menu-right .menu-user button {
  background: none;
  border: none;
  padding: 0;
}

.home-banner {
  padding-top: 60px;
  position: relative;
  z-index: 0;
}
.home-banner .carousel {
  width: 100%;
}
.home-banner .carousel .carousel-indicators li {
  width: 4px;
  height: 4px;
  background-color: #c4c4c4;
  border-radius: 50%;
}
.home-banner .carousel .carousel-indicators li.active {
  background-color: #ffffff;
  width: 30px;
  border-radius: 3px;
}
.home-banner .block {
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f1fb), to(#ebebf5));
  background: linear-gradient(180deg, #f1f1fb 0%, #ebebf5 100%);
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
  border-radius: 18.0727px;
  height: 254px;
  width: 100%;
  position: relative;
  padding-top: 41px;
  padding-left: 41px;
}
.home-banner .block img {
  position: absolute;
  top: 0;
  right: 0;
}
.home-banner .block h2 {
  font-weight: 400;
  font-size: 31.6273px;
  line-height: 38px;
  color: #333333;
  margin-bottom: 9px;
}
.home-banner .block p {
  font-weight: 400;
  font-size: 19.88px;
  line-height: 24px;
  color: #828282;
  margin-bottom: 32px;
}
.home-banner .block a {
  background: #00ac4e;
  border-radius: 4.51818px;
  font-weight: 500;
  font-size: 25.3018px;
  line-height: 30px;
  color: #ffffff;
  padding: 11px 31px;
}

.category-slider {
  padding-top: 27px;
  position: relative;
}
.category-slider a {
  font-family: "TT Hoves";
  font-weight: 400;
  font-size: 23.3333px;
  line-height: 27px;
  color: #4f4f4f;
  text-transform: uppercase;
  display: grid;
  text-align: center;
}
.category-slider a.category-active {
  font-weight: 500;
  font-size: 23.3333px;
  line-height: 27px;
  color: #ffffff;
  background: #00ac4e;
  border-radius: 5px;
  padding: 8px 0;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-prev::before,
.slick-next::before {
  color: #00ac4e;
}

.article-slider__arrow {
  background: none;
  border: none;
  position: absolute;
}

.article-slider__arrowLeft {
  left: 0px;
  top: 50%;
  z-index: 5;
}

.article-slider__arrowRight {
  right: -20px;
  top: 50%;
  z-index: 5;
}

.all__products {
  padding-top: 30px;
}
.all__products h2 {
  font-weight: 500;
  font-size: 27.1585px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 40px;
}
.all__products-blocks {
  -webkit-column-gap: 21px;
          column-gap: 21px;
  row-gap: 36px;
  padding-bottom: 45px;
}
.all__products-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 205px;
}
.all__products-block .price {
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 18.1056px;
  line-height: 23px;
  color: #000000;
}
.all__products-block .price span {
  font-weight: 400;
  font-size: 12.674px;
  line-height: 23px;
  color: #828282;
  margin-left: 18px;
}
.all__products-block .to__cart {
  background: #00ac4e;
  border-radius: 4.52641px;
  padding: 10px 28px;
  color: #ffffff;
  text-decoration: none;
}
.all__products-title {
  padding-top: 10px;
  font-weight: 500;
  font-size: 14.4845px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 13px;
}
.all__products-description {
  font-weight: 400;
  font-size: 12.674px;
  line-height: 19px;
  color: #000000;
}

.active__star {
  background-image: url(../img/svg/star.svg);
  display: inline-block;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: cover;
}

.rating .active__star:last-child {
  background-image: url(../img/svg/star-off.svg);
  display: inline-block;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Pagination*/
.pagination {
  margin-bottom: 60px;
}
.pagination .page-item a {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin: 0 12px;
  border: none;
}
.pagination .page-item.active a {
  background: #00ac4e;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px 17px;
}

/*Home__video*/
/*
.video {
    position: relative;
    width: 100%;
    max-height: 648px;
    background-color: #000000;
}
*/
.video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.video__button {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 106px;
  height: 106px;
  border: none;
  background: #00ac4e;
  box-shadow: -1px -1px 0px 29px rgba(0, 172, 78, 0.6);
  -webkit-box-shadow: -1px -1px 0px 29px rgba(0, 172, 78, 0.6);
  -moz-box-shadow: -1px -1px 0px 29px #00ac4e;
  border-radius: 50%;
  opacity: 0.5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
  animation: pulsate-fwd 1.5s ease-in-out infinite both;
}
.video__button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video__button:focus {
  outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

/* Enabled */
.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}

.embed-responsive {
  height: 70vh;
}

.embed-responsive-16by9::before {
  padding-top: 0;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*delivery*/
.delivery {
  padding: 60px 0;
}
.delivery__block {
  height: 254px;
  width: 100%;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
  border-radius: 18.0727px;
  padding: 30px 0 30px 40px;
  background: url(../img/delivery.webp) no-repeat top right;
}
.delivery__block a {
  background: #00ac4e;
  border-radius: 4.51818px;
  font-weight: 500;
  font-size: 25.3018px;
  line-height: 30px;
  color: #ffffff;
  padding: 9px 23px;
}
.delivery__title {
  font-weight: 400;
  font-size: 31.6273px;
  line-height: 38px;
  color: #333333;
  margin-bottom: 35px;
}

/*Footer*/
.footer {
  padding: 34px 0;
  background: #00ac4e;
  font-style: normal;
  font-weight: 400;
  font-size: 12.3407px;
  line-height: 32px;
  color: #fff;
}
.footer .phones {
  margin-bottom: 16px;
}
.footer .phones__item a {
  font-style: normal;
  font-weight: 500;
  font-size: 18.511px;
  line-height: 39px;
  color: inherit;
}
.footer .work--time {
  font-size: 15.4259px;
  line-height: 32px;
  margin-bottom: 10px;
}
.footer .work--email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .work--email .email {
  font-size: 15.4259px;
  line-height: 32px;
  color: inherit;
  margin-bottom: 10px;
}
.footer .work--email .supports {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: inherit;
  margin-bottom: 10px;
}
.footer__center .social {
  font-weight: 500;
  font-size: 15.4259px;
  line-height: 32px;
  letter-spacing: 3.08517px;
  font-variant: small-caps;
}
.footer__center .social a {
  color: inherit;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}
.footer__right .person a {
  font-weight: 500;
  font-size: 15.4259px;
  line-height: 32px;
  color: inherit;
}
.footer__bottom span {
  margin-right: 34px;
}
.footer__bottom a {
  font-weight: 400;
  font-size: 12.3407px;
  line-height: 32px;
  color: inherit;
  margin-right: 34px;
}

/*Page delivery*/
.page__delivery {
  margin-bottom: 60px;
}
.page__delivery-title {
  margin-bottom: 25px;
}
.page__delivery-content {
  margin-bottom: 45px;
}
.page__delivery-content p {
  font-size: 22px;
  line-height: 26px;
  color: #828282;
}
.page__delivery-link--catalog {
  background: #00ac4e;
  border-radius: 6.90493px;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 16px 39px;
  margin-right: 60px;
}
.page__delivery-link--catalog:hover {
  color: #fff;
  text-decoration: none;
}
.page__delivery-link--pay {
  font-size: 22.2162px;
  line-height: 29px;
  text-align: center;
  color: #00ac4e;
  position: relative;
}
.page__delivery-link--pay:hover {
  text-decoration: none;
}
.page__delivery-link--pay::after {
  content: "";
  background-image: url(../img/svg/arrow-link.svg);
  width: 20px;
  height: 15px;
  position: absolute;
  top: 8px;
  right: -40px;
}
.page__delivery-form {
  border-radius: 5px;
}
.page__delivery-form textarea {
  background: #f9f9f9;
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  line-height: 21px;
  color: #bdbdbd;
  margin-bottom: 45px;
}
.page__delivery-form button {
  background: #00ac4e;
  border-radius: 7.8169px;
  font-weight: 500;
  font-size: 18.7606px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 18px 45px;
  border: none;
}

/*Media*/
@media (min-width: 576px) {
  .modal {
    height: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .modal-dialog {
    max-width: 358px;
    margin: 1.75rem auto;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 17.7465px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 0px 17.7465px rgba(0, 0, 0, 0.12);
    border-radius: 17.4636px;
  }
  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
  }
  .modal-header .close span {
    color: #00ac4e;
    font-size: 35px;
    font-weight: lighter;
    line-height: 2px;
  }
  .modal-body {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-bottom: 1rem;
    margin-top: -30px;
  }
  .modal-body form .form-group {
    max-width: 269px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .modal-body form .form-group:nth-child(1) input {
    background-image: url(../img/svg/phone-reg.svg);
    background-repeat: no-repeat;
    top: 50%;
    background-position: 10%, 50%;
  }
  .modal-body form .form-group:nth-child(2) input, .modal-body form .form-group:nth-child(3) input {
    background-image: url(../img/svg/key-reg.svg);
    background-repeat: no-repeat;
    top: 50%;
    background-position: 10%, 50%;
  }
  .modal-body form .form-group input {
    background: #fcfcfc;
    border: 0.873181px solid #ebebeb;
    border-radius: 5.91549px;
    font-weight: 400;
    font-size: 12.2245px;
    line-height: 18px;
    color: #c6c6c6;
    padding: 16px 0 16px 50px;
    width: 269px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 25px;
    position: relative;
  }
  .modal-body form .form-group.radio__group label {
    font-size: 9.3569px;
    line-height: 14px;
    text-align: center;
    color: #C6C6C6;
    text-align: start;
    cursor: pointer;
  }
  .modal-body form .form-group.radio__group label a {
    color: #00ac4e;
  }
  .modal-body form .form-group.radio__group .radio__group-one,
  .modal-body form .form-group.radio__group .radio__group-two {
    cursor: pointer;
    padding: 0;
    width: 15px;
    height: 15px;
    margin-bottom: 14px;
    margin-left: 0;
    margin-right: 16px;
  }
  .modal-body form .form-group.radio__group .radio__group-one[type="radio"],
  .modal-body form .form-group.radio__group .radio__group-two[type="radio"] {
    position: relative;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
  }
  .modal-body form .form-group.radio__group .radio__group-one[type="radio"]::before,
  .modal-body form .form-group.radio__group .radio__group-two[type="radio"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: transparent;
    border: 2px solid #ebebeb;
  }
  .modal-body form .form-group.radio__group .radio__group-one[type="radio"]:checked::after,
  .modal-body form .form-group.radio__group .radio__group-two[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00ac4e;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    visibility: visible;
  }
  .modal-body form .forgot {
    font-size: 14.1972px;
    line-height: 17px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #00ac4e;
    background-color: transparent;
    border: none;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 12px;
  }
  .modal-body form .btn__submit {
    background: #00ac4e;
    border-radius: 5.91549px;
    margin-bottom: 10px;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 14px 51px;
    font-weight: 500;
    font-size: 14.1972px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    border: none;
  }
  .modal-content {
    border-radius: 17.4636px;
    height: 100%;
  }
  .modal-content span,
  .modal-content .btn_registration {
    background-color: transparent;
    border: none;
    font-size: 12.2245px;
    line-height: 18px;
    text-align: center;
    color: #00ac4e;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .modal-content .btn_registration:hover {
    text-decoration: underline;
  }
  .modal-content span {
    color: #000000;
  }
  .modal-title {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 29px;
    font-weight: 500;
    font-size: 17.4636px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }
  .modal-footer {
    border-top: none;
    padding-top: 0;
  }
  .modal__lostPassword .btn__escape {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #00AC4E;
  }
  .modal__lostPassword .btn__update-password {
    background: #00AC4E;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding: 12px;
    color: #FFFFFF;
  }
  .modal__lostPassword .modal-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem;
  }
}

/*# sourceMappingURL=style.css.map */